# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Audio uploads
uploads/
audio/

# Logs
*.log

# Environment
.env

# Misc
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Model files (only large models, not assets)
*.pt
